<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CV - Michiel B. de Jong</title>
    <meta name="description" content="CV - Michiel B. de Jong">
    <link rel="author" href="https://michielbdejong.com/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bulma.min.css">
    <script defer src="fontawesome.min.js"></script>
    <script src="vue.min.js"></script>
  </head>
  <body>
    <div id="cv" class="container">
    <section class="hero" style="margin-bottom:2em;">
      <div class="hero-body is-fluid has-text-centered">
        <h1 class="title">{{ details.fullName }}</h1>
        <p class="">{{ details.born }}</p>
        <a class="" v-bind:href="details.website">{{ details.website }}</a>
        <p class="">{{ details.email }}</p>
      </div>
      <div class="level">
        <div class="tile is-ancestor">
          <div class="tile is-2">
            <!-- empty tile left of blurb -->
          </div>
          <div class="tile is-8 has-text-centered">
            <div class="content has-text-justified">
              <p class=""><i>{{ blurb }}</i></p>
            </div>
          </div>
          <div class="tile is-2">
            <!-- empty tile right of blurb -->
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div v-for="sec in sections" v-bind="sec" >
        <div class="hero">
          <div class="level" style="margin-top:0.5em;">
            <h1 class="title">{{ sec.section }}</p>
          </div>
          <div class="container" style="margin-left:0.5em;">
            <div v-for="exp in sec.exps" v-bind="exp">
              <div class="media" v-bind:style="exp.style">
                 <figure class="media-left">
                   <p class="image is-64x64">
                     <img v-bind:src="exp.logo" v-bind:style="exp.logoStyle">
                   </p>
                 </figure>
                 <div class="media-content has-text-justified">
                   <a v-bind:href="exp.href" class="has-text-weight-bold">{{ exp.company }}</a>
                   <span class="is-italic">({{ exp.start }}  - {{ exp.finish }})</span>
                   <span v-html="exp.description"></span>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="container" style="margin-top:3em;">
      <p>
        <span>{{ progLang }}</span>
        <span>{{ humanLang }}</span>
        <span>{{ hobbies }}</span>
      </p>
    </div>

    </div><!-- close vue app -->
    <script>
      const flagFigureTemplate = '<figure class="media-left"><p class="image is-64x64"><img v-bind:src="flag"></p></figure>';
      const langTemplate = '<div class="column"><div class="media">' +  flagFigureTemplate + '{{ name }}' + '</div></div>';
      Vue.component('human-language', {
        props: ['name', 'flag' ],
        template: langTemplate,
      });
    </script>
    <script src="app.js"></script>

  </body>
</html>
