<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CV - Michiel B. de Jong</title>
    <meta name="description" content="CV - Michiel B. de Jong">
    <link rel="author" href="https://michielbdejong.com/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bulma.min.css">
    <script defer src="fontawesome.min.js"></script>
    <script src="vue.min.js"></script>
  </head>
  <body>
    <div id="cv" class="container">
    <section class="hero">
      <div class="hero-body is-fluid has-text-centered">
        <h1 class="title">Michiel Bertus de Jong</h1>
        <p class="">21/07/1975, The Netherlands</p>
        <p class=""><a href="https://michielbdejong.com/">michielbdejong.com</a></p>
        <p class="">michiel@unhosted.org</p>
        <p class=""><i>{{ blurb  }}</i></p>
      </div>
    </section>
    <div class="container">
      <div v-for="sec in sections" v-bind="sec" >
        <div class="container">
          <div class="container">
            <p class="title">{{ sec.section }}</p>
          </div>
          <div class="container">
            <work-experience v-for="exp in sec.exps" v-bind="exp">
            </work-experience>
          </div>
        </div>
      </div>
    </div>

    <h2>Human Languages</h2>
    <h2>Programming Languages</h2>

    </div><!-- close vue app -->
    <script>
      const expFigureTemplate = '<figure class="media-left"><p class="image is-64x64"><img v-bind:src="logo"></p></figure>';
      const expContentTemplate = '<div class="media-content"> <span class="has-text-weight-bold">{{ company }}</span> <span class="is-italic">({{ start }}  - {{ finish }})</span> {{ description  }}</p>';
      const expTemplate = '<div class="media">' +  expFigureTemplate + expContentTemplate + '</div';
      Vue.component('work-experience', {
        props: ['company', 'start', 'finish', 'logo', 'description' ],
        template: expTemplate,
      });
    </script>
    <script src="app.js"></script>

  </body>
</html>
